<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-do App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='assets\style.css' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src='assets\todo-list.js'></script>
  </head>
  <body>
    <br>
    <div class="container">
      <form method="post" action="todo">
        <div class="form-group">
          <input class="form-control" type="text" name="todo" placeholder="enter new task" required>
        </div>
        <button class="btn btn-primary float-right" type="submit">Add task</button>
      </form>
      <br><br><br>
      <ul class="list-group">
        <% for(var i=0; i<todos.length; i++){ %>
        <li class="list-group-item todo-item"><%- todos[i].todo %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
